<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaceCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44D6F7A31C8F4B8800B37614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D6F7B71C8F4B8800B37614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D6F7C21C8F4B8800B37614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
